#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')

$h2 About

Project ${project.name} is a key component of Geoscience Australia's
eGeodesy software infrastructure. It provides persistent domain entities and
services modelling the core business data types and operations relevant
(currently) to management of GNSS CORS site metadata.

The persistent domain entity model is based on [GeodesyML](http://www.geodesyml.org).



