#set($h1 = '#')
#set($h2 = '##')
#set($h3 = '###')

$h2 About

Project geodesy-web-services is a key component of Geoscience Australia's
eGeodesy software infrastructure. It provides persistent domain entities and
services modelling the core business data types and operations relevant
(currently) to management of GNSS CORS site metadata. It publishes a
public HTTP API for validating, uploading, and retreiving site log metadata.

The persistent domain entity model is based on [GeodesyML](http://www.geodesyml.org).



