<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="SystemTestSuite" verbose="1">
    <test name="Test">
        <classes>
            <!-- <class name="au.gov.ga.geodesy.gws.systemtest.AwsSystemTest"/> -->
            <!-- <class name="au.gov.ga.geodesy.gws.systemtest.AuthorizationSystemTest"/> -->
            <!-- <class name="au.gov.ga.geodesy.gws.systemtest.CreateCorsNetworksSystemTest"/> -->
            <!-- <class name="au.gov.ga.geodesy.gws.systemtest.EndpointSecuritySystemTest"/> -->
            <!-- <class name="au.gov.ga.geodesy.gws.systemtest.UploadSiteLogsSystemTest"/> -->
            <!-- <class name="au.gov.ga.geodesy.gws.systemtest.SetupSystemTest"/> -->
            <class name="au.gov.ga.geodesy.gws.systemtest.Compare"/>
        </classes>
    </test>
</suite>

