<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-/Hibernate/Hibernate Configuration DTD 3.0/EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping resource="au/gov/ga/geodesy/igssitelog/support/hibernate/GnssReceiver.hbm.xml"/>
        <mapping resource="au/gov/ga/geodesy/igssitelog/support/hibernate/GnssAntenna.hbm.xml"/>
        <mapping resource="au/gov/ga/geodesy/igssitelog/support/hibernate/FrequencyStandard.hbm.xml"/>
        <mapping resource="au/gov/ga/geodesy/igssitelog/support/hibernate/IgsSiteLog.hbm.xml"/>
        <mapping resource="au/gov/ga/geodesy/igssitelog/support/hibernate/Agency.hbm.xml"/>
        <mapping resource="au/gov/ga/geodesy/igssitelog/support/hibernate/Contact.hbm.xml"/>
        <mapping resource="au/gov/ga/geodesy/igssitelog/support/hibernate/CollocationInformation.hbm.xml"/>
        <mapping resource="au/gov/ga/geodesy/igssitelog/support/hibernate/HumiditySensor.hbm.xml"/>
        <mapping resource="au/gov/ga/geodesy/igssitelog/support/hibernate/PressureSensor.hbm.xml"/>
        <mapping resource="au/gov/ga/geodesy/igssitelog/support/hibernate/SurveyedLocalTie.hbm.xml"/>
        <mapping resource="au/gov/ga/geodesy/igssitelog/support/hibernate/RadioInterference.hbm.xml"/>
        <mapping resource="au/gov/ga/geodesy/igssitelog/support/hibernate/MultipathSource.hbm.xml"/>
        <mapping resource="au/gov/ga/geodesy/igssitelog/support/hibernate/SignalObstruction.hbm.xml"/>
        <mapping resource="au/gov/ga/geodesy/igssitelog/support/hibernate/OtherInstrumentation.hbm.xml"/>
        <mapping resource="au/gov/ga/geodesy/igssitelog/support/hibernate/TemperatureSensor.hbm.xml"/>
        <mapping resource="au/gov/ga/geodesy/igssitelog/support/hibernate/WaterVaporSensor.hbm.xml"/>
        <mapping resource="au/gov/ga/geodesy/igssitelog/support/hibernate/LocalEpisodicEvent.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
